body{
    background-image: url("nature-6847175_1920.jpg");
    background-size: cover;
    background-repeat: no no-repeat;
    font-family: 'Courier New';
    text-align: center;
}

h1{
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 60px;
}

.button{
    
    font-size: 60px;
    text-decoration: none;
    color: black;
}
